<footer class="main-footer">
    <div class="container">
      <p>Proyecto Integrador - Programación II - Grupo 7</p>
      <p>Integrantes: Amalia Gomez, Agustin Litvac, Tiago Canan</p>
    </div>
  </footer>
  