<footer class="main-footer">
	<div class="container">
	  <div class="row">
		<div class="col-12 col-lg-4">
		  <article class="footer-data">
			<i class="fas fa-credit-card"></i>
			<h2>Pagá como quieras</h2>
			<p>Con Dragon Ball Market accedés a múltiples formas de pago: tarjetas, efectivo o transferencias. Simple, rápido y seguro.</p>
		  </article>
		</div>
		<div class="col-12 col-lg-4">
		  <article class="footer-data">
			<i class="fas fa-truck"></i>
			<h2>Envíos a todo el país</h2>
			<p>Realizamos envíos a todo el territorio nacional con seguimiento en tiempo real. Comprá desde donde estés.</p>
		  </article>
		</div>
		<div class="col-12 col-lg-4">
		  <article class="footer-data">
			<i class="fas fa-shield-alt"></i>
			<h2>Protección total</h2>
			<p>En cada compra estás protegido desde el inicio hasta la entrega. Podés devolver el producto si no estás conforme.</p>
		  </article>
		</div>
	  </div>
	</div>
  
	<p>Proyecto Integrador - Programación II - Grupo 7</p>
	<p>Integrantes: Amalia Gomez, Agustin Litvac, Tiago Canan</p>
  </footer>
  