<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')%>
	<% } else { %>
		<%- include('./partials/header')%>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">Agregar productos</h2>

				<form action="/products/add" method="POST">
					<p>
					  Imagen: <input type="text" name="imagen" required>
					</p>
					<p>
					  Nombre del producto: <input type="text" name="nombre" required>
					</p>
					<p>
					  Descripción: <input type="text" name="descripcion" required>
					</p>
					<p>
						<button type="submit">Agregar Producto</button>
					</p>
				  </form>


	<!-- footer -->
	
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>