<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action="register" method="GET" class="register-form">
                <div class="form-reg">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                
                <div class="form-reg">
                    <label for="usuario">Usuario:</label>
                    <input type="text" id="usuario" name="usuario" required>
                </div>
                
                <div class="form-reg">
                    <label for="contraseña">Contraseña:</label>
                    <input type="password" id="contraseña" name="contraseña" required>
                </div>
                
                <div class="form-reg">
                    <label for="fecha_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
                </div>
                
                <div class="form-reg">
                    <label for="documento">Número de Documento:</label>
                    <input type="number" id="documento" name="documento" required>
                </div>
                
                <div class="form-reg">
                    <label for="foto">Foto de Perfil:</label>
                    <input type="text" id="foto" name="foto">
                </div>
                
                <button type="submit">Registrarse</button>
            </form>


	<!-- footer -->
	
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>